<div class="sidebar">
	<div class="block-content" id="intro">
		<h2><%= link_to "ZhangHanDong's Blog", posts_path %></h2>
		<p>Hi, I'm HanDong Zhang. I'm living in Beijing in China.I write about Rails, Web and Live. <a href="#">Subscribe</a> to my blog for 
			coding tips and Grade A maple syrup.</p>
	</div><!--block-content-->
	
	<div class="block-content"  id="archive">
		<%= link_to "Blog Archive", archives_path %>
	</div><!--block-content-->
	
	<div class="block-content"  id="search">
	Google Search
	<form method="get" action="http://www.google.com/search">
		<fieldset>
			<input name="q" type="text"/>
			<input name="sitesearch" value="http://domain.com/blog" type="hidden"/>
		</fieldset>
	</form>
	</div>
	
	<p class="subscribe"><a href="#">Subscribe to my blog</a></p>
</div><!--sidebar-->